body {
	font-size: 16px;
	color: #fff;
	background-color: #363678;
	font-family: 'Raleway', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: #06CFCF;
	border-radius: 0;
	border: 0;

}
.navbar-brand h1 { /* Restaurant name */
  color: #04047A;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #04047A;
}
#nav-list {
	border: 2px solid #ddd;
	background-color: #cceeff;
	margin-bottom: 0px;
	margin-top: 0px;
}
#nav-list hr{
	margin-bottom: 0px;
	margin-top: 0px;
}
/* End Header*/

/*Main content*/
h1{
	margin-bottom: 30px;
}
#main-content {
	background-color: #61122f;
	margin:50px;
	padding-left: 50px;
	height:2000px;
}

/*End Main Content */
